In [15]:
import sqlite3

In [16]:
db = sqlite3.connect('database/data.db', check_same_thread=False)

cursor = db.cursor()

In [5]:
cursor.execute(
    f"SELECT balance FROM users WHERE account_number = 987654321 AND userid = 1"
)
result = cursor.fetchone()
result

(100000.0,)

In [18]:
# create table with columns: userid, username, password, email, phone, address, account balance
cursor.execute('''
CREATE TABLE users(rowid INTEGER PRIMARY KEY, userid INTEGER , username TEXT, password TEXT, email TEXT, phone TEXT, address TEXT, balance REAL, account_number INTEGER)
''')

In [19]:
# insert a row of data
cursor.execute('''
INSERT INTO users(userid, username, password, email, phone, address, balance, account_number) VALUES('1234', 'admin', 'password123', 'admin@localhost' , '1234567890', 'localhost', 1000, 1357924680)
''')
# insert a row of data
cursor.execute('''
INSERT INTO users(userid, username, password, email, phone, address, balance, account_number) VALUES('1234', 'admin', 'password123', 'admin@localhost' , '1234567890', 'localhost', 1000, 0987654321)
''')

In [20]:
# commit the changes
db.commit()